<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <title></title>
    <!-- http://meyerweb.com/eric/tools/css/reset/ -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="style.css">
    <link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe"
crossorigin="anonymous"/>
  </head>
  <body>
      <div class="container">
      <div class="first">
      <img src="https://github.com/BrianCarela/relaxr_landing_css/blob/master/images/header_bg.jpg?raw=true" alt="">
      <h1 id="header"><strong>Relaxr</strong></h1>
      <p id="Fpara">Get piece of mind with single tap</p>
      <button  id="bt1" type="button"><strong>Get it now</strong></button>
      </div>

      <div class="container2">
          <h1>Benefits</h1>
          <p>The perfect personal assistant. Relaxr does your job<br>
              for you so you can enjoy life as it is meant to be</p>

              <ul>
                  <li>Schedule meeting for you</li>
                  <li>Excel automation to complete your work for you</li>
                  <li>Responds to emails on your behalf</li>
                  <li>Does all your work fou you with our revolutionary Al technology</li>
              </ul>
      </div>
      <br>

      <div class="container3">
          <img src="https://github.com/BrianCarela/relaxr_landing_css/blob/master/images/testimonial_bg.jpg?raw=true" alt="">
          <p id="Spara">"Relaxr changed my life. I've been able<br>
               to travelthe world,spend limited time<br>
                working and my boss keep thanking<br>
                me for crushing work."</p>
          <h1 id="footer">- Amanda, Intuit</h1>
      </div>

      <div class="container4">
        <br>
        <button id="Lbutt" type="button"><strong>Sign Up Now!</strong></button>
    </div>
      <div class="Ldiv">
        <h1 id="lrel">Relaxr</h1>
        <i class="ab fab fa-twitter"></i>
        <i class="bc fab fa-facebook-f"></i>
        <h5>Copyright 2015. Relaxr.</h5>
      </div>
    </div>
  </body>
</html>